.lesson {
    background-color: rgba(214, 134, 207, 0.87);
    margin: 20px auto;
    max-width: 900px;
    padding: 5px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    &__div {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      color: #710c0c;
      font-size: 18px;
    
     
    }
    &__title-moment {
      color: #470a1e;
      text-transform: uppercase;
      font-size: 20px;
      
    }
    &__text-link {
      text-decoration: none;
      color: #470a1e;
      &:hover {
        color: #ec5b8c;
      }
    }
    &__image {
      display: block;
      max-width: 100%;
    }
  }
  
  .lesson-section {
    &__image {
      display: block;
      max-width: 100%;
    }
    &__text-link {
      text-decoration: none;
      color: #470a1e;
      &:hover {
        color: #ec5b8c;
      }
    }
  }